{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="person-card">
            <div class="card-header">
                <div class="person-name">{{ person.name }}</div>
                <button class="expand-btn">+</button>
            </div>

            <hr>

            <div class="card-image">
                <img src="http://localhost:9000/images/historyPerson{{ person.id }}.png" alt="{{ person.name }}">
            </div>

            <div class="card-years">
                <p>Годы правления</p>
                <p margin-left="10px"><strong>{{ person.year_from }} — {{ person.year_to }}</strong></p>
            </div>

            <div class="card-footer">
                <a href="{% url 'historyPersonDetailed' person.id %}" class="details-btn">Подробнее →</a>
            </div>
        </div>
</body>
</html>
