.person-detail {
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.detail-content {
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
}

.detail-image img {
    max-width: 400px;
    border-radius: 8px;
    display: block;
}

.detail-years {
    font-size: 23px;
    left:200px;
}

.detail-desc {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
}
